// uncomment before exporting to STL
// $fa = 1;
// $fs = 0.4;

{% block includes %}{% endblock -%}
module {{ component.name }}() {
    {% block call_module %}{% endblock %}
}

// call module when run directly
{{ component.name }}();